{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>My Calculator</h1>
     {% if error %}
         <div class="alert alert-danger error" role="alert">
             {{ error }}
        </div>
      {% endif %}
<img src="{{ url_for('static', filename='images/image_1.jpeg') }}">

  <div class="mb-3 row">

    <form action="/calculator" method="POST">
        <label for="value1" >Enter Value 1:</label><br>
        <input type="number" class="form-control" name="value1" placeholder="Enter the first number">
        <label for="value2" >Enter Value 2:</label><br>
        <input type="number" class="form-control" name="value2" placeholder="Enter the second number">

        <fieldset>
        <legend>Operation</legend>
          <div>
            <input type="radio" name="operation" id="addition" value="addition" checked>
            <label for="addition">Addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtraction" value="subtraction">
            <label for="subtraction">Subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiplication" value="multiplication">
            <label for="multiplication">Multiplication</label>
          </div>
            <div>
            <input type="radio" name="operation" id="division" value="division">
            <label for="division">Division</label>
          </div>
        </fieldset>

        <input type="submit" value="Submit">

    </form>
  </div>
{% endblock %}